<h2>Проекты деревянных домов и бань</h2>
<div id="ep-mod-hp-filters" class="col-md-3"></div>
<div id="ep-mod-hp-collection" class="col-md-9">
  <div id="ep-mod-hp-collection-sort">
    <ul class="ep-mod-hp-collection-sort list-inline">
      Сортировать
      <li class="ep-mod-hp-collection-sort-active ep-mod-hp-collection-sort-order-asc">
        <a class="btn btn-default" href="#area">Площадь</a>
      </li>
      <li class="ep-mod-hp-collection-sort-order-asc">
        <a class="btn btn-default" href="#tech">Технология</a>
      </li>
      <li class="ep-mod-hp-collection-sort-order-asc">
        <a class="btn btn-default" href="#title">Наименование</a>
      </li>
    </ul>
  </div>
  <div id="ep-mod-hp-collection-gallery" class="row clearfix"></div>
  <div id="ep-mod-hp-collection-pagination"></div>
</div>